html,
body {
  padding: 0;
  margin: 0;
  background-color: #F9F9FB;
  /*background-color: #9ca3af;*/
}

* {
  box-sizing: border-box;
}
@tailwind base;

h2 {
  @apply text-2xl;
}
@tailwind components;
@tailwind utilities;